.hero__container {
  height: 100vh;
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/904607198263509024/904754907838554132/pexels-thanhhoa-tran-1506836.jpg");
}

.hero__container a {
  color: white;
  text-decoration: none;
}

.hero__backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.navbar__name {
  font-size: 4rem;
  font-weight: 600;
}

.navbar__content {
  display: flex;
}

.navbar__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 300px;
  /* transform: scaleX(1.1); */
}

.navbar__items .navbar__item:not(:first-child) {
  margin-left: 5rem;
}

.navbar__item {
  font-size: 2rem;
}

.navbar__item a:hover {
  color: #4ad1d5;
}

.navbar__icon {
  width: 7rem;
  height: 7rem;
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/904607198263509024/915881080706461696/ExodiatheForbiddenOne-TF04-JP-VG.jpg");
  border-radius: 50%;
  margin: 0 5rem;
  cursor: pointer;
  position: relative;
  z-index: 999999;
  transition: 0.3s;
}

.navbar__icon:hover {
  opacity: 0.8;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 1px;
}

.navbar__button__container {
  cursor: pointer;
}

.navbar__button {
  padding: 1rem 4rem;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 2rem;
  position: relative;
  z-index: 1000;
}

.navbar__button:hover {
  background-color: #fff;
  color: #000;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 600;
}

.hero__tagline {
  width: 80%;
  text-align: center;
  font-size: 2rem;
}

.hero__button {
  margin-top: 5rem;
  border-radius: 30px;
  padding: 1.3rem 3rem;
  font-size: 1.8rem;
  background-color: #4ad1d5;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.hero__button:hover {
  color: #fff;
  background-color: #27b8bd;
}

/* Profile */

.profile__container {
  position: relative;
}

.profile__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 23rem;
  background-color: #509bfd;
  z-index: -1;
}

.profile__title {
  color: #fff;
  font-size: 3rem;
  padding: 4rem 0 8rem;
  font-weight: 600;
  text-align: center;
}

.profile__user {
  position: relative;
  background-color: #fff;
  width: 80%;
  /* max-width: 40rem; */
  height: 23rem;
  padding: 6rem 2rem 2rem;
  margin: 0 auto;
  box-shadow: 0 0 20px rgb(187, 187, 187);
  border-radius: 20px;
}

.profile__img {
  /* background-color: #000; */
  position: absolute;
  top: -70px;
  right: calc(50% - 6rem);
}

.profile__img img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.profile__username {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.profile__text {
  font-size: 1.6rem;
  margin-left: 2rem;
}

.profile__email {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* History */
.profile__history {
  margin-top: 4rem;
  height: 35%;
  /* background-color: #000; */
  /* min-height: 60rem; */
}

.history__title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.history__container {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgb(187, 187, 187);
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.history__card {
  background-color: #5af8d3;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 2rem;
}

.history--yellow {
  background-color: #ffe295;
}

.history--red {
  background-color: #ff9b9c;
}
.history--blue {
  background-color: #91e8fb;
}
.history--green {
  background-color: #88fbe8;
}

.history__detail {
  padding: 2rem;
  position: relative;
  z-index: 999;
}

.history__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.history__date {
  font-size: 1.3rem;
  font-weight: 500;
}

.history__img img {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  border-radius: 0 15px 15px 0;
}

.offcanvas {
  overflow: scroll;
}
.offcanvas-start {
  width: 450px !important;
}
