.booking-Head h2{
  font-size: 70px;
  text-align: center;
  margin: 60px;
  color: #00D3DA;
}

.booking__link{
  text-decoration: none;
}

.booking__type{
  width: 1200px;
  height: 500px;
  position: relative;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.booking__info h2{
  height: 50vh;
  display: grid;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 80px;
  text-transform:uppercase;
}

.booking__info .text__info h2 {
  transition: all 0.3s ease-in-out;
}

.booking__type:hover h2 {
  transform: scale(1.2);
}

.booking__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
  opacity: 0.85;
}

.booking__type:hover .booking__hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.booking__img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -2;
  border-radius: 50px;
}

@media (max-width: 1400px){
  .booking-Head h2{
    font-size: 70px;
    text-align: center;
    margin: 60px;
    color: #00D3DA;
  }
  
  .booking__link{
    text-decoration: none;
  }
  
  .booking__type{
    width: 1000px;
    height: 450px;
    position: relative;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .booking__info h2{
    height: 47vh;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 75px;
    text-transform:uppercase;
  }

}
 
@media (max-width: 1200px){
  .booking-Head h2{
    font-size: 65px;
    text-align: center;
    margin: 60px;
    color: #00D3DA;
  }
  
  .booking__link{
    text-decoration: none;
  }
  
  .booking__type{
    width: 800px;
    height: 400px;
    position: relative;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .booking__info h2{
    height: 43vh;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 70px;
    text-transform:uppercase;
  }
 
}

@media (max-width: 850px){
  .booking-Head h2{
    font-size: 55px;
    text-align: center;
    margin: 60px;
    color: #00D3DA;
  }
  
  .booking__link{
    text-decoration: none;
  }
  
  .booking__type{
    width: 700px;
    height: 350px;
    position: relative;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .booking__info h2{
    height: 39vh;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 65px;
    text-transform:uppercase;
  }
}




      
