.card__radius {
  border-radius: 20px;
}

.card__blocks {
  width: 35rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px #d1d1d1;
  margin: 20px 0;
}

.card__header {
  position: relative;
}

.card__number {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fe8a80;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.card__img {
  width: 100%;
  border-radius: 20px 20px 10px 10px;
}

.card__content {
  position: relative;
  padding: 1rem 1.5rem 1.4rem;
}

.card__name {
  font-size: 2.4rem;
  font-weight: 600;
}

.card__detail__text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #bbbbbb;
  margin-left: 1.1rem;
}

.card__detail {
  display: flex;
}

.card__button {
  position: absolute;
  bottom: 14px;
  right: 15px;

  padding: 0.5rem 2.4rem;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
}

.button--available {
  background-color: #00d3da;
}

.button--disable {
  background-color: rgb(177, 175, 175);
}

.button--available:hover {
  color: #fff;
  background-color: #00b8be;
}

.card__backdrop {
  background-color: rgba(216, 216, 216, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card__backdrop--header {
  border-radius: 20px 20px 0 0;
}

.card__backdrop--content {
  border-radius: 0 0 20px 20px;
}
